* {
  margin: 0;
  padding: 0;
  font-style: "Roboto";
  color: #4c4c4c;
  font-size: 16px;
}
h1 {
  font-size: 33px;
}
p {
  font-size: 20px;
  padding-top: 5px;
}
.text-pre-form {
  margin: 10px 0 15px 43px;
}
.labels-align {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
}
label {
  font-size: 20px;
  margin-bottom: 8px;
  margin-left: 43px;
}
input {
  width: 94%;
  height: 40px;
  color: #4c4c4c;
  margin-top: 12px;
}
select {
  width: 94.4%;
  height: 45px;
  color: #4c4c4c;
  margin-top: 12px;
}
form {
  margin-top: 30px;
}
.check-box {
  height: 15px;
  width: 2%;
}
.button {
  padding: 0;
  width: 16%;
  height: 65px;
  background-color: #ef5350;
  border-radius: 30px;
  border: #ef5350;
  color: white;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}
.align-button {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 10px;
}
::-webkit-input-placeholder { padding-left: 6px;font-size: 20px; }

@media screen and (max-width: 700px) {
  h1 {
    font-size: 23px;
    margin-bottom: 5px;
  }
  p {
    font-size: 15px;
  }
  .text-pre-form {
    margin: 10px 0 15px 17px;
  }
  .align-button {
    margin-left: 20px;
  }
  .button {
    width: 46%;
    margin-bottom: 10px;
  }
  .check-box {
    height: 15px;
    width: 5%;
  }
  label {
    font-size: 12px;
  }
  .name-label{
    margin-left: 14px;
    font-size: 16px;
  }
}
